{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<section class="scissos">
    <div class="about-text">
    <h2>About Scissors</h2>
    <p>
    Scissors is a free and easy-to-use tool that allows you to shorten long URLs.
    </p>
    <p>
        Scissors is a great way to track clicks on your links.
        <br>
        To use Scissors, simply enter the long URL in the box and click on the "Shorten URL" button. scissors will then generate a short, unique URL for you. which you can then copy and paste the short URL wherever you want to share it.
    </p>
</div>
{% endblock %}